<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

<div class="bg-gradient"></div>
<div class="bg-pattern"></div>

<!-- Menu -->
<%- partial('_partial/menu', {}, {cache: true}) %>

<div class="container">
    <%- partial('_partial/header.ejs', {logoIcon: '', headerTitle: config.title}) %>

    <!-- Main Content -->
    <%- body %>

</div>

<!-- Footer -->
<%- partial('_partial/footer', {}, {cache: true}) %>

<!-- After footer scripts -->
<%- partial('_partial/after-footer') %>

</body>

</html>