<div class="row">
    <div class="col-sm-12">
        <!--Title and Logo-->
        <%- partial('_partial/header.ejs', {logoIcon: 'fa fa-tags', headerTitle: page.title}) %>
        <% if (page.type === 'tags' || page.type === 'tag') { %>
            <section class="main archive-container">
                <% site.tags.forEach(function(tag) { %>
                        <%- partial('_partial/tag-cat-item', {item: {path: tag.path, title: '#' + tag.name} }) %>
                <% }); %>
            </section>
        <% } else if (page.type === 'categories' || page.type === 'category') { %>
            <section class="main archive-container">
                <% site.categories.forEach(function(cat) { %>
                        <%- partial('_partial/tag-cat-item', {item: {path: cat.path, title: cat.name} }) %>
                <% }); %>
            </section>
        <% } else if(page.type==='comments') {%>
            <section class="main archive-container">
                <% 
                    let site_comments = site.data.comments.sort(function(a, b){
                        return a.date > b.date ? -1:1
                    })
                    let per_page = config.comment_per_page ? config.comment_per_page:10;
                    let starter= page.page * per_page
                    let N = site_comments.length
                    let ender=(page.page+1) * per_page
                    ender = ender < N ? ender:N
                    let pre_link = null;
                    let next_link = null;
                    if(page.page){
                        pre_link = 'comments/index.'+(page.page-1)+'.html'
                    }
                    if(ender < N){
                        next_link = 'comments/index.'+(page.page+1)+'.html'
                    }
                %>
                <%- partial('_partial/changyan-comments', {comments: site_comments.slice(starter, ender)}) %>
                <%- partial('_partial/pagination-comments', {item: {
                                                        prev_link: pre_link,
                                                        next_link: next_link
                                                    }}) %>
            </section>
        <% } else { %>
            <section class="main">
                <%- partial('_partial/article-long', {item: page}) %>
            </section>
        <% } %>
    </div>
</div>


